body {
  margin: 0;
  padding: 0;
}
.side-bar {

  height: 100vh;
  background: linear-gradient(#1075bb 0%, #102b73 100%);
}
.nav-bar {
  border-radius: 15px;
  height: 62px;
  background: linear-gradient(90deg, #1075bb 0%, #102a72 100%);
}
.mt-1-25rem {
  margin-top: 1.25rem;
}
.mlr-19-20-rem {
  margin-left: 1.1875rem; /* 19px = 1.1875rem */
  margin-right: 1.25rem; /* 20px = 1.25rem */
}
.heading{
  font-size: 20px;
  font-weight: 700;
}
.border-color{
  border: 1px solid #CBE9FF !important;
}
